.navbar_site{
  height: 50px;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mrg-r-20{
  margin-right: 20px;
}
.border-bot{
  border-bottom: 3px solid black;
}
div.left a{
  margin-right: 30px;
  text-decoration: none;
  color: $brown;
  text-transform: capitalize;
  font-weight: bold;
}
div.left button{
  padding: 5px 15px;
  border: 1px solid blue;
  color: blue;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
}

.relative img{
  height: 15px;
  margin-right: 5px;
  color: $brown;
}
