.one{
  background-color: $pink;
  h3{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    color: $brown;
  }
  .card_1{
    text-align: center;
  }
  .card_1 img{
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
  }
  p{
    font-size: 1.3rem;
  }
}
