.one{
  background-color: $pink;
  h3{
    padding: 40px 240px 50px 240px;
    font-size: 2rem;
    text-align: center;
    color: $brown;
    font-weight: bold;
  }
  .card_1{
    text-align: center;
  }
  .card_1 img{
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
  }
  p{
    font-size: 1rem;
    color: $brown;
    font-weight: bold;
  }
  img{
    width: 400px;
    height: 350px;
    margin-top: 80px;
    margin-bottom: 100px;
  }
}
@media all and (max-width: 549px) {
  .one{
    h3{
      width: 100%;
      padding: 20px 0;
      font-size: 2rem;
      text-align: center;
      color: $brown;
      font-weight: bold;
    }
    .media-1{
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 550px) and (max-width: 998px) {
  .one{
    h3{
      width: 100%;
      padding: 20px 0;
      font-size: 2rem;
      text-align: center;
      color: $brown;
      font-weight: bold;
    }
    .media-1{
      flex-direction: column;
    }
  }
}
