.employee{
  color: $brown;
  padding: 30px 0;
  img{
    width: 50%;
    height: 335px;
  }
  .explain{
    width: 20%;
  }
  h3{
    font-size: 2rem;
    padding-bottom: 50px;
  }
  p{
    font-size: 1.5rem;
    padding-bottom: 30px;
    font-weight: bold;
  }
  a{
    display: block;
    margin-bottom: 20px;
  }
  .communication{
    width: 100%;
  }
  .explain_2{
  width: 20%;
  }
}

@media screen and (min-width: 550px) and (max-width: 998px) {
  .employee{
    flex-wrap: wrap;
    img{
      width: 100%;
    }
    .explain{
      width: 100%;
      text-align: center;
    }
    .explain_2{
      width: 100%;
      text-align: center;
    }
  }
}
