@import "./partials/_framework.scss";
@import "./partials/_common.scss";
@import "./partials/_navbar.scss";
@import "./partials/_header.scss";
@import "./partials/_section_1.scss";
body{
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
}
.mrgtop{
  margin-top: 20px;
}
.flex{
  display: flex;
}
.brd-bot{
  border-bottom: 2px solid black;
}
.pad-bot-10{
  padding-bottom: 10px;
}
.justify{
  justify-content: space-between;
}
.txt-cen{
  text-align: center;
}
.brd-bot-2{
  border-bottom: 3px solid $brown;
}
